{% extends 'zxsite/subbase1.html' %}
{% load static %}
{% block about %}
    <div class="self-about-block center-block">
        <div class="center-block">
            <img src="{% static 'zxsite/pictures/qgwl.jpg' %}" alt="" class="img-circle center-block">
            <div class="self-about-textdiv center-block">
                <p>
                    Hello,there,this is zx576.welcome to my website.
                </p>
                <p>this website is made by Django+jquery+bootstrap,and now,it is just a demo,lots of work need to be done.</p>
                <p>i'm still new for coding and learning Python under <a href="http://res.crossincode.com/" target="_blank">crossin's</a>  guidance</p>
                <p>additionally,zxsite imitated <a href="http://pythonexcels.com/" target="_blank">pythonexcel.com</a></p>

            </div>
        </div>
    </div>

    <hr>

{% endblock %}