{% extends 'zxsite/subbase1.html' %}
{% block article_ins %}
    <div class="row">
{#        <div class="col-md-3">#}
{#            导航#}
{##}
{#        </div>#}
        <div class="center-block" style="width: 668px;">
            <div class="self-atc-div">
                <h3>{{ article.title }}</h3>
                <div>
                    <p>创建于：{{ article.created_time|date:'Y-m-d' }}</p>
                    |
                    分类：
                    {% for tag in article.tags.all %}
                    <p class="text-capitalize"><a href="">{{ tag }}</a></p>
                    {% endfor %}
                    |
                    <p>阅读次数：{{ article.views }}</p>
                </div>
                 <p class="text-justify self-atc-div-p">{{ article.content | safe }}</p>

                <hr>

{#                评论#}

            </div>
        </div>
    </div>
{% endblock %}