<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'zxsite/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'zxsite/css/slefdefine.css' %}">
    <script src="{% static 'zxsite/js/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'zxsite/js/bootstrap.min.js' %}"></script>
</head>
<body style="background-color: #e7e7e7">
{% block subbase1 %}{% endblock %}
</body>
</html>