{% extends 'zxsite/subbase1.html' %}
{% block index %}
{% load static %}
    <link rel="stylesheet" href="{% static 'zxsite/css/simple-sidebar.css' %}">
{#                文章#}
        <div class="row">
            <div class="col-md-3">
{#                <div id="sidebar-wrapper">#}
                    <ul class="sidebar-nav" style="margin-left: -41px;margin-top: 10px">
                        <li class="sidebar-brand">
                            <a href="/">
                                <span class="glyphicon glyphicon-home"></span>
                                <B style="padding-left: 10px">ZXSITE</B>
                            </a>
                        </li>
                        <li>
                             <a href=""  class="self-NP-a">
                            <span class="glyphicon glyphicon-bookmark "></span>
                                <b>Newly Published</b>
                            </a>
                        </li>

                        <li>
                             <a href="/indexbydate/" class="self-index-a">
                            <span class="glyphicon glyphicon-calendar"></span>
                                <b>Index By Date</b>
                            </a>
                        </li>

                        <li>
                             <a href="" class="self-index-a">
                            <span class="glyphicon glyphicon-tags"></span>
                                <b>Index By Tag</b>
                            </a>
                        </li>
                    </ul>
{#                </div>#}
            </div>
            <div class="col-md-9" >
            {% for article in articles %}
                <div style="" class="self-atc-div">
                    <h3 style="">{{ article.title }}</h3>

                    <div style="">
                        <p style="">创建于：{{ article.created_time|date:'Y-m-d' }}</p>
                        |
                        分类：
                        {% for tag in article.tags.all %}
                        <p class="text-capitalize"><a href="">{{ tag }}</a></p>
                        {% endfor %}
                        |
                        <p>阅读次数：{{ article.views }}</p>
                    </div>

                    <p class="text-justify self-atc-div-p">{{ article.abstract | safe }}</p>

                    <button class="btn btn-default center-block">
                        <a href="/article/{{ article.id }}">阅读全文</a>
                    </button>
                    <footer>_____________</footer>
                </div>
            {% endfor %}
            </div>
        </div>
{% endblock %}