{% extends 'zxsite/subbase1.html' %}
{% block index %}
{% load static %}
    <link rel="stylesheet" href="{% static 'zxsite/css/simple-sidebar.css' %}">
{#                文章#}
        <div class="row">
            <div class="col-md-3">
{#                <div id="sidebar-wrapper">#}
                    <ul class="sidebar-nav" style="margin-left: -35px;margin-top: 10px">
                        <li class="sidebar-brand">
{#                            <a href="">#}
                                <span class="glyphicon glyphicon-home"></span>
                                <B style="padding-left: 10px">ZXSITE</B>
{#                            </a>#}
                        </li>
                        <li>
                             <a href="" style="padding-left: 3px">
                            <span class="glyphicon glyphicon-th-list"></span>
                                <b style="padding-left: 10px">分类</b>
                            </a>
                        </li>
                        <li>
                             <a href="" style="padding-left: 3px">
                            <span class="glyphicon glyphicon-th-list"></span>
                                <b style="padding-left: 10px">标签</b>
                            </a>
                        </li><li>
                             <a href="" style="padding-left: 3px">
                            <span class="glyphicon glyphicon-th-list"></span>
                                <b style="padding-left: 10px">归档</b>
                            </a>
                        </li>
                    </ul>
{#                </div>#}
            </div>
            <div class="col-md-9" >
                <div class="h3"><b>{{ article.title }}</b></div>
                <div>{{ article.created_time }}</div>
                <p class="text-justify" style="font-size: medium ">{{ article.content | safe }}</p>
                <footer>footer</footer>
            </div>
        </div>
{% endblock %}