{% extends 'zxsite/subbase1.html' %}
{% block manage %}
    <div class="row">
        <div class="col-md-3">
            <div class="nav-side-menu" style="      margin-left: -1px">
                <div class="brand">
                    <b>ZXSITE</b>
                </div>
                <div class="menu-list">
                    <ul id="menu-content" class="menu-content" >
                        <li data-toggle="collapse" data-target="#products" class="collapsed">
                            Manage Articles
                            <span class="glyphicon glyphicon-chevron-down" style="padding-left: 34px;"></span>

                        </li>
                        <ul class="sub-menu collapse" id="products">
                            <li class="active"><a href="/manage/newarticle/">New Article</a></li>
                            <li><a href="/manage/edit/">Edit Article</a></li>
                            <li><a href="/manage/delete/">Recyle Bin</a></li>
                            <li><a href="">审核</a></li>
                        </ul>
                        <li data-toggle="collapse" data-target="#tags" class="collapsed">
                            Manage Tags
                            <span class="glyphicon glyphicon-chevron-down" style="padding-left: 100px;"></span>

                        </li>
                        <ul class="sub-menu collapse" id="tags">
                            <li><a href="/manage/">Index</a></li>
                            <li><a href="">New Tags</a></li>
                            <li><a href="">Recyle Bin</a></li>
                        </ul>
                        <li data-toggle="collapse" data-target="#comments" class="collapsed">
                            Manage Comments
                            <span class="glyphicon glyphicon-chevron-down" style="padding-left: 34px;"></span>

                        </li>
                        <ul class="sub-menu collapse" id="comments">
                            <li class="active"><a href="">Index</a></li>
                            <li><a href="">New Comments</a></li>
                            <li><a href="">Recyle Bin</a></li>
                        </ul>
                        <li data-toggle="collapse" data-target="#musers" class="collapsed">
                            Manage User
                            <span class="glyphicon glyphicon-chevron-down" style="padding-left: 34px;"></span>

                        </li>
                        <ul class="sub-menu collapse" id="musers">
                            <li class="active"><a href="">Index</a></li>
                            <li><a href="">New Users</a></li>
                            <li><a href="">受限用户</a></li>
                        </ul>
                    </ul>
                </div>
            </div>






        </div>
        <div class="col-md-9">
             {% for article in articles %}
                <div style="" class="self-atc-div">
                    <h3 style="">{{ article.title }}</h3>

                    <div style="">
                        <p style="">创建于：{{ article.created_time|date:'Y-m-d' }}</p>
                        |
                        分类：
                        {% for tag in article.tags.all %}
                        <p class="text-capitalize"><a href="">{{ tag }}</a></p>
                        {% endfor %}
                        |
                        <p>阅读次数：{{ article.views }}</p>
                    </div>

                    <p class="text-justify self-atc-div-p">{{ article.abstract | safe }}</p>

                    <div class="center-block">
                        <button class="btn btn-default  self-displayinline" >
                            <a href="/article/{{ article.id }}">阅读全文</a>
                        </button>
                        <button class="btn btn-default  self-displayinline">
                            <a href="/article/edit/{{ article.id }}">编辑文章</a>
                        </button>
                        <button class="btn btn-default  self-displayinline">
                            <a href="/article/delete/{{ article.id }}">删除文章</a>
                        </button>
                    </div>
                    <footer style="margin-top: -70px">_____________</footer>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}