{% extends 'zxsite/base1.html' %}
{% block newarticle %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'zxsite/wangEditor/dist/css/newwangEditor.css' %}">
    <script>
        $('body').css('background-color','#e7e7e7');
    </script>
{#    <div class="center-block wangdiv" id="wangedit"></div>#}

    <div class="center-block newarticle-div">
        <div class="container-fluid">
            <form action="" method="post" id="form1" class="form-div">
                <div class="form-group">
                    <input type="text" class="newarticle-input newarticle-input-title" placeholder="标题">
                </div>

{#                <hr>#}

                <div>
                    <textarea name="" id="wangedit" cols="30" rows='40' class="form-control-static newarticle-input" style="border: 0;outline: none"></textarea>
                </div>

            </form>
        </div>
    </div>


    <script type="text/javascript" src="{% static 'zxsite/wangEditor/dist/js/wangEditor.min.js' %}"></script>
    <script type="text/javascript">

        var editor = new wangEditor('wangedit');
         editor.config.menus =  [
        'bold',
        'underline',
        'italic',
        'strikethrough',
        'eraser',
        'forecolor',
        'quote',
        'fontfamily',
        'fontsize',
        'unorderlist',
        'orderlist',
        'alignleft',
        'aligncenter',
        'alignright',
        'link',
        'img',
        'location',
        'insertcode',
        'undo',
        'redo',
        'fullscreen',
    ];
        editor.create();

    </script>
{% endblock %}