{% extends 'zxsite/base.html' %}
{% block subbase1 %}
    {% load static %}
<div class="top-occupation"></div>
<div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-10">
{#    {% block mainpage %}{% endblock %}#}
        <div class="center-block mainpage" > {# selfdefine-mainpage #}
            <div class="top-block" style="background-color: #ffffff"> {# selfdefine-topblock #}
{#                title#}
                <div class="center-block top-block-1"> {# selfdefine-top-block-1 #}
                    <p class="h1" style="font-family:Chiller;">
                        <b>ZXSITE</b>

                    </p>
                    <div class="pull-right" style="font-size: 17px;margin-top: -50px">
                        <form action="/search/" method="get" >
                            <input type="text" class="self-subbase-searchinput" name="search" id="s-input">
                            <button class="self-subbase-searchbtn" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                    </div>

                </div>
{#                signiture#}
                <div class="center-block top-block-2"> {# selfdefine-top-block-2 #}
                    <P style="font-size: 16px">Where there's a will,there is a way</P>
                </div>
{#                图片#}
                <div class="top-block-3"> {# selfdefine-top-block-3 #}
                    <img src="{% static 'zxsite/pictures/wheel.jpg' %}" alt="">
                </div>
            </div>
{#            导航条#}
            <div>
                <ol class="breadcrumb modifybd"> {# selfdefine-modifybd #}
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About</a></li>
{#                    判断超级用户#}
                    {% if user.is_staff %}
                        <li><a href="/manage/">Manage</a></li>
                    {% endif %}
{#                    判断登录#}
                    {% if not user.is_authenticated %}
                        <li><a href="/login/">Sign in</a></li>
                        <li><a href="/register/">Sign up</a></li>
                    {% else %}
                        <li class="text-capitalize"><a href="/user/{{ user.id }}">{{ user.username }}</a></li>
                        <li><a href="/logout/">Logout</a></li>
                    {% endif %}
                </ol>
            </div>
{#           内容#}
            <div class="article-block" style="background-color: #ffffff">
                <div class="center-block article-block-1">
                {% block index %}{% endblock %}
                {% block article_ins %}{% endblock %}
                {% block manage %}{% endblock %}
                {% block about %}{% endblock %}
                {% block indexbydate %}{% endblock %}
                {% block indexbytag %}{% endblock %}
                {% block tag-ins %}{% endblock %}
                {% block userinfo %}{% endblock %}
                {% block search %}{% endblock %}
                {% block errors %}{% endblock %}
                    <div class="self-footer">
                        This is end,Thank you for visiting
                    </div>
                </div>
            </div>
        </div>
    </div>
{#页脚#}


    <div class="col-md-1"></div>



</div>


{% endblock %}