{% extends 'zxsite/subbase1.html' %}
{% block tag-ins %}
    <div class="row">
        <div class="col-md-3">
            <h3 class="text-capitalize">{{ tag.name }}</h3>
        </div>
        <div class="col-md-9">
            {% for article in articles %}
                <div style="" class="self-atc-div">
                    <h3 style="">{{ article.title }}</h3>

                    <div style="">
                        <p style="">创建于：{{ article.created_time|date:'Y-m-d' }}</p>
                        |
                        分类：
                        {% for tag in article.tags.all %}
                        <p class="text-capitalize"><a href="">{{ tag }}</a></p>
                        {% endfor %}
                        |
                        <p>阅读次数：{{ article.views }}</p>
                    </div>

                    <p class="text-justify self-atc-div-p">{{ article.abstract | safe }}</p>

                    {% lorem 2 w random %}
                    <button class="btn btn-default center-block">
                        <a href="/article/{{ article.id }}">阅读全文</a>
                    </button>
                    <footer>_____________</footer>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}